body{
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Sunflower', sans-serif;
    background-size: 100% auto;
}
.basic {
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

#todo-form {
    text-align: center;
    position: absolute;
    margin-left: 41.5%;
    top: 60%;
    width: 300px;
}

.hidden {
    visibility: hidden;
}


/* todo */

.todo-box {
    position: absolute;
    margin-left: 50px; 
    top: 50%;
    transform: translateY(-50%);
 
}

#todo-list li {
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Sunflower', sans-serif;
    text-align: left;
    color: #daf6ff;
    text-shadow: 0 0 20px rgb(10, 113, 230),  0 0 20px rgba(10, 175, 230, 0);
    font-size: 30px;
    list-style: decimal;
    margin-left: 50px;
}

#todo-list li:hover {
    text-decoration: line-through rgba(10, 160, 230, 0.795);
}

#todo-list li button {
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: auto;
    border: none;
    font-size: 20px;

}
