body{
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Sunflower', sans-serif;
    background-size: 100% auto;
}
.basic {
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

.hidden {
    visibility: hidden;
}

